@import '../../scss/variables.scss';

.panel-primary {
    background: $secondary;
    width: 450px;
    height: 300px;
    padding: 30px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    color: white;
}
