@import '../../scss/variables.scss';

.landingbg {
    background: url('../../assets/betterbh.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

.splash {
    background: $third;
    width: 350px;
    height: 275px;
    padding: 30px;
    margin: 50px auto;
    flex-direction: column;
    color: white;
    position: relative;
}