<div class="landingbg d-flex justify-content-end">
    <div class="splash d-flex mr-5 align-items-end flex-column">
        <div class="specials align-self-center">
            <h6 class="text-center pb-3">September Specials</h6>
            <ul class="list-unstyled">
                <li class="d-flex mb-3"><i class="align-self-center fa fa-plane mr-2" aria-hidden="true"></i><p class="mb-0 d-inline align-self-center">$50 for Gas / Air Travel</p></li>
                <li class="d-flex"><i class="align-self-center fa fa-amazon mt-2 mr-2" aria-hidden="true"></i><p class="mb-0 d-inline align-self-center">$50 for Amazon</p></li>
            </ul>
        </div>
    </div>
</div>