
<div class="background">
    <div class="panel-primary">
        <div class="form">
            <div class="email">
                <label for="email">email</label>
                <input id="email" type="text" placeholder=" email">
            </div>
            <div class="password mt-2">
                <label for="password">password</label>
                <input id="password" type="text" placeholder=" password">
            </div>
        </div>
            <button routerLink="/dashboard" class="mt-3 btn btn-william">
                
                <a class="d-flex justify-content-center"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Login</a>
            </button> 
    </div>
</div>
