@import '../../scss/variables.scss';

.landingbg {
    background: url('../../assets/betterbh.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

.splash {
    background: $third;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    width: 350px;
    height: 275px;
    padding: 30px;
    margin: 80px 0 0 0;
    flex-direction: column;
    color: white;
    position: relative;
}

i {
    font-size: 30px;
    width: 40px;
}

h1 {
    color: white;
}