<div class="header d-flex flex-row justify-content-between">
    <label class="brand pt-1 pl-4">
        <i class="fa fa-bolt mr-2" aria-hidden="true"></i>
        Lightning Rewards
    </label>
    <form class="d-flex align-items-center" *ngIf="!welcomed">
        <div class="email pl-3 px-0">
            <label for="email" class="mb-0">email</label>
            <input id="email" type="text" placeholder="youremail@email.com">
        </div>
        <div class="password pl-3 px-3">
            <label for="password" class="mb-0">password</label>
            <input id="password" type="text" placeholder="********">
        </div>
        <button md-raised-button (click)="login()" class="align-self-center mr-3">
            <a class="align-self-center"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Login</a>
        </button>
    </form>
    <div class="form d-flex d-row ml-auto p-2" *ngIf="welcomed">
        <button md-raised-button class="d-flex align-items-center mr-3" (click)="logout()">
            <a class="align-self-center"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Logout</a>
        </button>
    </div>
</div>

<router-outlet></router-outlet>
