@import '../scss/variables.scss';

.header {
    height: 50px;
    background: $third;
    color: white;
}

.brand {
    font-size: 18pt;
    color: white;
}

.fa-bolt {
    color: $primary;
}

.custom-btn {
    color: $fourth;
}