@import '../scss/variables.scss';

.header {
    height: 50px;
    background: linear-gradient($primary, white);
}

.brand {
    font-size: 18pt;
    color: $fourth;
}

.fa-bolt {
    color: $fourth;
}