@import '../scss/variables.scss';

.header {
    height: 50px;
    background-color: $primary;
}

.brand {
    font-size: 18pt;
    color: $fourth;
}

.form {
    color: white;
}

.fa-bolt {
    color: $fourth;
}