<div class="header d-flex flex-row justify-content-between">
    <label class="brand pt-1 pl-4">
        <i class="fa fa-bolt mr-2" aria-hidden="true"></i>
        Lightning Rewards
    </label>
    <div class="d-flex align-items-center" *ngIf="!welcomed">
        <div class="email pl-3 px-0">
            <label for="email" class="mb-0">email</label>
            <input id="email" [(ngModel)]="user.email" type="text" name="email" placeholder="youremail@email.com">
        </div>
        <div class="password pl-3 px-3">
            <label for="password" class="mb-0">password</label>
            <input id="password" type="password" placeholder="********">
        </div>
        <button md-raised-button (click)="login()" type="submit" class="align-self-center mr-3 custom-btn">
            <a class="align-self-center"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Login</a>
        </button>
    </div>
    <div class="form d-flex d-row ml-auto p-2" *ngIf="welcomed">
        <button md-raised-button class="d-flex align-items-center mr-3 custom-btn" (click)="logout()">
            <a class="align-self-center"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Logout</a>
        </button>
    </div>
</div>

<router-outlet></router-outlet>
