@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
    padding-left: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
    padding-left: 5px;
}
:-moz-placeholder { /* Firefox 18- */
    padding-left: 5px;
}