<h2 md-dialog-title>Send Reward</h2>
  <md-dialog-content>
    <div class="form d-flex justify-content-center align-items-center flex-column">
      <md-form-field class="w-75">
        <label for="recipient">Recipient</label>
        <input mdInput id="recipient" type="text">
      </md-form-field>
      <md-form-field class="w-75">
        <label for="message">Message</label>
        <textarea mdInput id="message"></textarea>
      </md-form-field>
      <div class="w-75">
        <label for="manager">Manager for Approval</label>
        <md-select class="w-100" name="manager" id="manager">
          <md-option value="Dave Long">Dave Long</md-option>
        </md-select>
      </div>
    </div>
  </md-dialog-content>
<md-dialog-actions class="d-flex justify-content-center mt-3">
  <button md-button>
    <a>Send for Approval</a>
  </button> 
  <button md-button md-dialog-close>Close</button>
</md-dialog-actions>


